repos:

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: file-contents-sorter
        args: [--unique]
        files: ^\.gitignore$|^requirements.txt$

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: ["--fix"]

  - repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
      - id: black
        args: ["--target-version=py310"]

  - repo: local
    hooks:
      - id: validate-cw-search-data
        name: validate CW search data
        entry: python3 cw_search_scripts/validate_cw_search_data.py
        types: [file]
        files: ^cw_search_data/.*\.json$|^cw_search_scripts/.*\.py$
        require_serial: true
        language: python
        additional_dependencies: ["jsonschema>=4.23.0", "natsort", "numpy", "scipy"]

      - id: check-noise-curves
        name: check noise curves
        entry: python3 misc_scripts/check_noise_curves.py
        types: [file]
        files: ^noise_curves/.*\.txt\.gz$
        require_serial: true
        language: python

      - id: generate-contributors
        name: generate CONTRIBUTORS
        entry: python3 misc_scripts/generate_contributors.py
        pass_filenames: false
        types: [file]
        files: .*
        require_serial: true
        language: python
